.btn-inicio{
    background-color: #344d67 ;
    color: #6eccaf;
    padding: 15px;
    display: inline-block ; 
    text-align: center;
    width: 113px;
    margin-right: 20px;
    border: #344d67;
    border-radius: 4px;

}







